/* --Module css for Boxer Blog--
-----Created by Amy Brumet------
--------Not a real site---------
*/

/* #Typography
================================================== */
h1{
  color: #ff6666;
  font-family: "Courgette", "Times New Roman", serif;
  font-size: 26px;
  line-height:26px;
  margin-bottom: 14px;
  font-weight: normal;
}

h2, h3, h4, h5, h6 {
    color: #ff6666;
    font-family: "Roboto", "Helvetica", sans-serif;
    font-weight: bold; }
  h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
  h2 { font-size: 16px; line-height: 18px; margin-bottom: 2px; }
  h3 { font-size: 28px; line-height: 30px; margin-bottom: 2px; }

p {
  color: #ff6666;
  font-family: 'Roboto', 'sans-serif';
  font-size: 12px;
  line-height: 12px;
  margin: 0 0 20px 0;
}


/* #Navigation Styles
================================================== */

nav ul,
nav ul li{
  margin: 0px;
  color: #ffffff;
}

nav ul li {
  display: inline-block;
  position: relative;
  border-right: 1px solid red;
  margin: 8px 0;
}

nav ul.primary{
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
}


nav ul li a {
  display:inline-block;
  line-height: 20px;
  padding: 0 25px 0 22px;
  color: #ffffff;
  font-family: 'Roboto', 'sans-serif';
  font-size: 12px;
}

nav ul li a:hover{
  background: #ff6666;

}

/* Sub Nav */

nav ul ul {

  position: absolute;
  z-index: 999;
  background: #333333;

  min-width: 100%;

  height: 0px;
  overflow: hidden;

}

nav ul li:hover ul{
  opacity:10;
  height: auto;
  overflow: auto;
  text-decoration: none;

}

nav ul ul li{
  float:none;
  display: list-item;
  border:none;
  color: #ffffff;
}

nav ul ul li a{
  display: block;
  line-height: 20px;

}

/* Elements in Nav */

.input__search{
  color: #333;
  font-family: 'Roboto', 'sans-serif';
  font-size: 10px;
  float: right;
  margin-right: 20px;
}



/* #Page Styles
================================================== */
#main{
  margin-bottom: 160px;
  margin-top: auto;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20%;
  margin-right: 20%;
}

.banner{
  display: block;
  margin: 0 auto;
  padding-top: 15px;
  width: 75px;
  height: 60px;
}

.menu {
  display: block;
  margin: 0 auto;
  text-align: center;
  list-style: none;
  line-height: 1;
  clear: both;
}

.news{
  display: flex;
  flex-wrap: nowrap;
}

.news__jumbo{
  width: 100%;
  max-width: 960px;
  overflow: hidden;
  margin-bottom: 0px;
  margin-top: 0px;
}

.news__thumbnail{
  display: flex;

}

.news--img{
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  margin-bottom: 30px;
  margin-right: 20px;
  float: left;
}

.news__none{
  padding: 10px;
  align-content: center;
}

.subscribe{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}

.legal{
  display: block;
  padding-left: 0;

}

.email{
  display: block;
  text-align: center;
}

.input__email{
  color: #333;
  font-family: 'Roboto', 'sans-serif';
  font-size: 10px;
}

/* #Footer
================================================== */
footer ul li{
  display: inline-block;
  line-height: 20px;
  padding: 0 25px 0 22px;
  color: #ffffff;
  font-family: 'Roboto', 'sans-serif';
  font-size: 12px;
  text-decoration: underline;
  list-style-type: none;
  text-transform: uppercase;
}
footer p {
  color: #ffffff;
}

footer h3 {
  color: #ffffff;
  font-family: "Courgette", "Times New Roman", serif;
  font-size: 26px;
  line-height:26px;
  margin-bottom: 14px;
  font-weight: normal;
}


/* #Buttons
================================================== */

  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    background: #ff6666; /* Old browsers */
    background: #ff6666 -moz-linear-gradient(top, rgba(255,102,102,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
    background: #ff6666 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,102,102,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
    background: #ff6666 -webkit-linear-gradient(top, rgba(255,102,102,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
    background: #ff6666 -o-linear-gradient(top, rgba(255,102,102,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
    background: #ff6666 -ms-linear-gradient(top, rgba(255,102,102,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
    background: #ff6666 linear-gradient(top, rgba(255,102,102,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
    border: none;
    color: #ffffff;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 20px;
    line-height: normal;
    padding: 10px 30px 10px 30px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; }

  .button:hover,
  button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover {
    color: #ffffff;
    background: #9E0000; /* Old browsers */
    background: #9E0000 -moz-linear-gradient(top, rgba(158,0,0,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
    background: #9E0000 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
    background: #9E0000 -webkit-linear-gradient(top, rgba(158,0,0,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
    background: #9E0000 -o-linear-gradient(top, rgba(158,0,0,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
    background: #9E0000 -ms-linear-gradient(top, rgba(158,0,0,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
    background: #9E0000 linear-gradient(top, rgba(158,0,0,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
    border: none;
  }

/* #Links
================================================== */

a:link {
  text-decoration: none;
  color: #ffffff;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #cc3333;
}

a:active {
  text-decoration: none;
  color: #FFFFFF;
}

a.footer:link, a.footer:visited {
  color: #FFFFFF;
  text-decoration: underline;
}



